@import '~@skyux/theme/scss/mixins';

.sky-code {
  @include sky-border("dark", "top", "right", "bottom", "left");
  overflow-wrap: break-word;
  font-family: 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace;
  font-size: 90%;
  color: $sky-background-color-danger-dark;
  padding: 0 4px;
  background-color: $sky-background-color-selected;

  ::ng-deep {
    a {
      color: $sky-background-color-danger-dark;
      text-decoration: underline;
    }
  }
}

::ng-deep {
  a .sky-code {
    text-decoration: underline;
  }
}
